<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>title</key>
			<string>パック類</string>
			<key>detail</key>
			<string>卵・豆腐・味噌・果物などの容器・ 持ち帰り弁当容器 など</string>
			<key>subgroup</key>
			<string>プラスチック製の「容器」や「包装」</string>
			<key>dispose</key>
			<string>中身を残さず|汚れはさっとすすいで落とし|中身の見える袋にまとめて入れる</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>title</key>
			<string>カップ類</string>
			<key>detail</key>
			<string>カップ麺・ヨーグルト・プリン・ ゼリーの容器 など</string>
			<key>subgroup</key>
			<string>プラスチック製の「容器」や「包装」</string>
			<key>dispose</key>
			<string>中身を残さず|汚れはさっとすすいで落とし|中身の見える袋にまとめて入れる</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>title</key>
			<string>トレイ類</string>
			<key>detail</key>
			<string>肉・魚・野菜などの トレイ</string>
			<key>subgroup</key>
			<string>プラスチック製の「容器」や「包装」</string>
			<key>dispose</key>
			<string>中身を残さず|汚れはさっとすすいで落とし|中身の見える袋にまとめて入れる</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>title</key>
			<string>ボトル類</string>
			<key>detail</key>
			<string>シャンプー・リンス・ 洗剤の容器 など</string>
			<key>subgroup</key>
			<string>プラスチック製の「容器」や「包装」</string>
			<key>dispose</key>
			<string>中身を残さず|汚れはさっとすすいで落とし|中身の見える袋にまとめて入れる</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>title</key>
			<string>袋類</string>
			<key>detail</key>
			<string>レジ袋・菓子・パン・ 詰め替え商品の袋 など</string>
			<key>subgroup</key>
			<string>プラスチック製の「容器」や「包装」</string>
			<key>dispose</key>
			<string>中身を残さず|汚れはさっとすすいで落とし|中身の見える袋にまとめて入れる</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>title</key>
			<string>緩衝材・発泡スチロール類</string>
			<key>detail</key>
			<string>果物や野菜のネット・家電製品の発泡スチロール・ 気泡緩衝材(ぷちぷち) など</string>
			<key>subgroup</key>
			<string>プラスチック製の「容器」や「包装」</string>
			<key>dispose</key>
			<string>中身を残さず|汚れはさっとすすいで落とし|中身の見える袋にまとめて入れる</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>title</key>
			<string>その他の容器や包装</string>
			<key>detail</key>
			<string>ラベルやキャップ・ふた・商品の外装フィルム(ラップ類)・ あめの包み・食パンの留め具・錠剤シート など</string>
			<key>subgroup</key>
			<string>プラスチック製の「容器」や「包装」</string>
			<key>dispose</key>
			<string>中身を残さず|汚れはさっとすすいで落とし|中身の見える袋にまとめて入れる</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>title</key>
			<string>ペットボトル</string>
			<key>detail</key>
			<string>清涼飲料・酒類・しょうゆなどのペットボトル</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string>キャップと  ラベルは外す|すすいで  水を切る|専用ネットか  中身の見える  袋に入れる</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>title</key>
			<string>びん</string>
			<key>detail</key>
			<string>飲料・食品用</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string>びんのふた※は  外す|すすいで  水を切る|専用コンテナ(黄)  または中身の見える  袋に入れる</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>9</integer>
			<key>title</key>
			<string>缶(アルミ缶・スチール缶)</string>
			<key>detail</key>
			<string>飲料・食品用</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string>すすいで  水を切る|専用コンテナ  (青)または  中身の見える  袋に入れる</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>id</key>
			<integer>10</integer>
			<key>title</key>
			<string>生ごみ</string>
			<key>detail</key>
			<string>生ごみはぎゅっ と絞って水切り しましょう</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>11</integer>
			<key>title</key>
			<string>食用油</string>
			<key>detail</key>
			<string>古紙や古布に染み込 ませるか、凝固剤で 固めてください</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>12</integer>
			<key>title</key>
			<string>衣類・布製品</string>
			<key>detail</key>
			<string></string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>13</integer>
			<key>title</key>
			<string>枝葉・落ち葉</string>
			<key>detail</key>
			<string></string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>14</integer>
			<key>title</key>
			<string>皮革・ゴム製品</string>
			<key>detail</key>
			<string>金具などの小さな金属部分は、 外せなければそのまま出してください</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>15</integer>
			<key>title</key>
			<string>「容器」や「包装」以外のプラスチック製品</string>
			<key>detail</key>
			<string>CD・ビデオテープ・文房具・日用品・おもちゃ・プラスチックや木製のハンガー など</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>16</integer>
			<key>title</key>
			<string>汚れの落ちないペットボトル・プラスチック製容器包装</string>
			<key>detail</key>
			<string>プラマーク付きプラスチック</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>17</integer>
			<key>title</key>
			<string>古紙として回収できない紙類</string>
			<key>detail</key>
			<string>紙コップ・レシート・写真・圧着はがき・紙くず・ ティッシュ・洗剤の箱・宅配伝票・ アルミコーティングの紙(酒パック等) など</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>18</integer>
			<key>title</key>
			<string>その他</string>
			<key>detail</key>
			<string>衛生用品・保冷剤 など（汚物はトイレに  流してください）</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>id</key>
			<integer>19</integer>
			<key>title</key>
			<string>陶磁器・ガラス</string>
			<key>detail</key>
			<string></string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>20</integer>
			<key>title</key>
			<string>金属類</string>
			<key>detail</key>
			<string></string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>21</integer>
			<key>title</key>
			<string>スプレー缶・ ライター・ カセットボンベ</string>
			<key>detail</key>
			<string>中身を使い切ったもの</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string>必ず使い切る|他の燃やさないごみとは別の袋に入れる|「危険」と書いて出す</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>22</integer>
			<key>title</key>
			<string>小型家電</string>
			<key>detail</key>
			<string>最大辺が30cm未満</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>23</integer>
			<key>title</key>
			<string>蛍光管・ 電球形蛍光管</string>
			<key>detail</key>
			<string>交換した際のケースに入れるか、 袋に「蛍光管」などと書いて出してください</string>
			<key>subgroup</key>
			<string>水銀を含む製品</string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>24</integer>
			<key>title</key>
			<string>水銀を含むその他製品</string>
			<key>detail</key>
			<string>水銀体温計・水銀血圧計など</string>
			<key>subgroup</key>
			<string>水銀を含む製品</string>
			<key>dispose</key>
			<string>袋に「水銀体温計・水銀 血圧計」などと書いて出してください</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>id</key>
			<integer>25</integer>
			<key>title</key>
			<string>新聞</string>
			<key>detail</key>
			<string>折込チラシも  新聞と一緒に  束ねて出す</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>26</integer>
			<key>title</key>
			<string>段ボール</string>
			<key>detail</key>
			<string>必ずたたんで出す</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>27</integer>
			<key>title</key>
			<string>雑誌類</string>
			<key>detail</key>
			<string>雑 誌・本・ 雑 が み など</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
