<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>title</key>
			<string>Packages</string>
			<key>detail</key>
			<string>Containers for eggs, natto (fermented soy beans), miso, fruits, etc. and takeout bento boxes, etc.</string>
			<key>subgroup</key>
			<string>Plastic containers and packages</string>
			<key>dispose</key>
			<string>Remove all contents.|Rinse to remove stains.|Place items in a transparent bag.</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>title</key>
			<string>Cups</string>
			<key>detail</key>
			<string>Containers for cup noodles, yogurts, puddings, jellos, etc.</string>
			<key>subgroup</key>
			<string>Plastic containers and packages</string>
			<key>dispose</key>
			<string>Remove all contents.|Rinse to remove stains.|Place items in a transparent bag.</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>title</key>
			<string>Trays</string>
			<key>detail</key>
			<string>Trays for meats, fish, vegetables, etc.</string>
			<key>subgroup</key>
			<string>Plastic containers and packages</string>
			<key>dispose</key>
			<string>Remove all contents.|Rinse to remove stains.|Place items in a transparent bag.</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>title</key>
			<string>Bottles</string>
			<key>detail</key>
			<string>Containers for shampoos, conditioners, dish soaps, etc.</string>
			<key>subgroup</key>
			<string>Plastic containers and packages</string>
			<key>dispose</key>
			<string>Remove all contents.|Rinse to remove stains.|Place items in a transparent bag.</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>title</key>
			<string>Bags</string>
			<key>detail</key>
			<string>Plastic bags, and bags for snacks, shampoos, bread, refillable products, etc.</string>
			<key>subgroup</key>
			<string>Plastic containers and packages</string>
			<key>dispose</key>
			<string>Remove all contents.|Rinse to remove stains.|Place items in a transparent bag.</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>title</key>
			<string>Packing materials and Styrofoam</string>
			<key>detail</key>
			<string>Nets for fruits and vegetables, styrofoam for electric appliances, bubble-wrap, etc.</string>
			<key>subgroup</key>
			<string>Plastic containers and packages</string>
			<key>dispose</key>
			<string>Remove all contents.|Rinse to remove stains.|Place items in a transparent bag.</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>title</key>
			<string>Other containers and packages</string>
			<key>detail</key>
			<string>Labels, caps, lids, packaging-films, candy-wrappers, bread clips, packs of pills, etc.</string>
			<key>subgroup</key>
			<string>Plastic containers and packages</string>
			<key>dispose</key>
			<string>Remove all contents.|Rinse to remove stains.|Place items in a transparent bag.</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>title</key>
			<string>PET bottles</string>
			<key>detail</key>
			<string>for softdrinks, alcoholic beverages, soy sauce, etc.</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string>Remove and dispose of caps and labels.|Rinse and drain off the water.|Put them into a designated net or a transparent bag.</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>title</key>
			<string>Bottles</string>
			<key>detail</key>
			<string>for beverage and food</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string>Remove caps|Rinse and drain off the water.|Put them into the designated bin (yellow) or a transparent bag.</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>9</integer>
			<key>title</key>
			<string>Cans(aluminum cans and steel cans) </string>
			<key>detail</key>
			<string>for beverages and foods</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string>Rinse and drain off the water.|Put them into the designated bin (blue) or a transparent bag.</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>id</key>
			<integer>10</integer>
			<key>title</key>
			<string>Kitchen garbage</string>
			<key>detail</key>
			<string>Squeeze out water from kitchen garbage.</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>11</integer>
			<key>title</key>
			<string>Cooking oil</string>
			<key>detail</key>
			<string>Soak cooking oil in used paper or old fabric, or solidify it with a coagulator.</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>12</integer>
			<key>title</key>
			<string>Clothes and fabric</string>
			<key>detail</key>
			<string></string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>13</integer>
			<key>title</key>
			<string>Twigs and dead leaves</string>
			<key>detail</key>
			<string></string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>14</integer>
			<key>title</key>
			<string>Leather products and rubber products</string>
			<key>detail</key>
			<string>If small metal parts such as clasps cannot be removed, dispose of them as is.</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>15</integer>
			<key>title</key>
			<string>Plastic products other than containers or packages</string>
			<key>detail</key>
			<string>CDs, video tapes, stationeries, household goods, toys, plastic or wooden hangers, etc.</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>16</integer>
			<key>title</key>
			<string>Plastic bottles,  containers or packages  with unremovable stains</string>
			<key>detail</key>
			<string></string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>17</integer>
			<key>title</key>
			<string>Paper unable to be collected as used paper</string>
			<key>detail</key>
			<string>Paper cups, receipts, photos, pressure bonded postcards, paper scraps, tissue papers, detergent boxes, courier service labels, paper lined with aluminum (sake cartons, etc), etc</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>18</integer>
			<key>title</key>
			<string>Others</string>
			<key>detail</key>
			<string>Hygiene products, blue ice gel. etc.(Flush excrements from diapers into a toilet bowl.)</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>id</key>
			<integer>19</integer>
			<key>title</key>
			<string>Ceramics, glass</string>
			<key>detail</key>
			<string></string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>20</integer>
			<key>title</key>
			<string>Metal</string>
			<key>detail</key>
			<string></string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>21</integer>
			<key>title</key>
			<string>Spray cans, lighters, gas cartridge bottles</string>
			<key>detail</key>
			<string>use up contents</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string>Be sure to use up contents inside.|Use a garbage bag separate from other non-combustible wastes.|Mark &quot;dangerous&quot; on the garbage bag.</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>22</integer>
			<key>title</key>
			<string>Small home appliances</string>
			<key>detail</key>
			<string>A longest side is smaller than 30cm</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>23</integer>
			<key>title</key>
			<string>Tube-shaped and bulb-shaped fluorescent lights</string>
			<key>detail</key>
			<string></string>
			<key>subgroup</key>
			<string>Products containing mercury</string>
			<key>dispose</key>
			<string>Place it in replacement packaging or write “fluorescent tube” on the garbage bag.</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>24</integer>
			<key>title</key>
			<string>Other items containing mercury</string>
			<key>detail</key>
			<string>Mercury thermometers, mercury blood pressure manometer, etc.</string>
			<key>subgroup</key>
			<string>Products containing mercury</string>
			<key>dispose</key>
			<string>Write “mercury” on the transparaent bag before disposal.</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>id</key>
			<integer>25</integer>
			<key>title</key>
			<string>Newspapers</string>
			<key>detail</key>
			<string>Bundle flyers together with newspapers.</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>26</integer>
			<key>title</key>
			<string>Cardboard boxes</string>
			<key>detail</key>
			<string>Fold them to flatten.</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>27</integer>
			<key>title</key>
			<string>Miscellaneous</string>
			<key>detail</key>
			<string>Magazines, books, waste paper , etc.</string>
			<key>subgroup</key>
			<string></string>
			<key>dispose</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
